	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Contact Us</h1>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
			<div id="mapBox" class="mapBox" 
				 data-lat="10.870086" 
				 data-lon="106.803103" 
				 data-zoom="15" 
				 data-info="Khu phố 6, Linh Trung, Thủ Đức, TP. Hồ Chí Minh, Việt Nam" 
				 data-mlat="10.870086"  
				 data-mlon="106.803103">
			</div>
			<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
			<script src="js/map.js"></script>
		</div>
		

		<div class="row contact_container">
			<div class="col-lg-4 contact_info">
				<div class="info_item">
					<i class="lnr lnr-home"></i>
					<h6>Đại học Khoa Học Tự Nhiên, ĐHQG TPHCM</h6>
					<p>KP6, Linh Trung, Thủ Đức, TPHCM</p>
				</div>
				<div class="info_item">
					<i class="lnr lnr-phone-handset"></i>
					<h6><a href="tel:+84398103087">+84398103087</a></h6>
					<p>Mon to Fri 9am to 6 pm</p>
				</div>
				<div class="info_item">
					<i class="lnr lnr-envelope"></i>
					<h6><a href="mailto:mandeotv1234@gmail.com">mandeotv1234@gmail.com</a></h6>
					<p>Send us your query anytime!</p>
				</div>
			</div>
			
			<div class="col-lg-7">
				<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
								   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="email" name="email" placeholder="Enter email address"
								   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject"
								   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<textarea class="form-control" name="message" id="message" rows="3" placeholder="Enter Message"
									  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'"></textarea>
						</div>
					</div>
					<div class="col-md-12 text-right">
						<button type="submit" value="submit" class="primary-btn">Send Message</button>
					</div>
				</form>
			</div>
		</div>
				
		</div>
	</section>
	<!--================Contact Area =================-->
	<!--================Contact Success and Error message Area =================-->
	<div id="success" class="modal modal-message fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
					<h2>Thank you</h2>
					<p>Your message is successfully sent...</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Modals error -->

	<div id="error" class="modal modal-message fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
					<h2>Sorry !</h2>
					<p> Something went wrong </p>
				</div>
			</div>
		</div>
	</div>
