    
    <body>
        
    
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/single-product">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            {{!-- <div class="returning_customer">
                <div class="check_title">
                    <h2>Returning Customer? <a href="/login">Click here to login</a></h2>
                </div>
                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new
                    customer, please proceed to the Billing & Shipping section.</p>
                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="name" name="name">
                        <span class="placeholder" data-placeholder="Username or Email"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        <input type="password" class="form-control" id="password" name="password">
                        <span class="placeholder" data-placeholder="Password"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">login</button>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option" name="selector">
                            <label for="f-option">Remember me</label>
                        </div>
                        <a class="lost_pass" href="#">Lost your password?</a>
                    </div>
                </form>
            </div> --}}
          
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>
                     {{!-- <form class="row contact_form" id="checkout-form" action="/order/checkout" method="post" novalidate="novalidate">
    <div class="col-md-6 form-group p_star">
        <input type="text" class="form-control" id="firstName" name="firstName" required>
        <span class="placeholder" data-placeholder="First name"></span>
    </div>
    <div class="col-md-6 form-group p_star">
        <input type="text" class="form-control" id="lastName" name="lastName" required>
        <span class="placeholder" data-placeholder="Last name"></span>
    </div>
    <div class="col-md-6 form-group p_star">
        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
        <span class="placeholder" data-placeholder="Phone number"></span>
    </div>
    <div class="col-md-6 form-group p_star">
        <input type="email" class="form-control" id="email" name="email" required>
        <span class="placeholder" data-placeholder="Email Address"></span>
    </div>
    <div class="col-md-12 form-group p_star">
        <input type="text" class="form-control" id="add1" name="addressLine1" required>
        <span class="placeholder" data-placeholder="Address line 01"></span>
    </div>
    <div class="col-md-12 form-group p_star">
        <input type="text" class="form-control" id="add2" name="addressLine2">
        <span class="placeholder" data-placeholder="Address line 02"></span>
    </div>
    <div class="col-md-12 form-group p_star">
        <input type="text" class="form-control" id="city" name="city" required>
        <span class="placeholder" data-placeholder="Town/City"></span>
    </div>
    <div class="col-md-12 form-group p_star">
        <input type="text" class="form-control" id="district" name="district" required>
        <span class="placeholder" data-placeholder="District"></span>
    </div>
    <div class="col-md-12 form-group">
        <input type="text" class="form-control" id="zip" name="zip" required placeholder="Postcode/ZIP">
    </div>
    <div class="col-md-12 form-group">
        <textarea class="form-control" name="orderNotes" id="message" rows="1" placeholder="Order Notes"></textarea>
    </div>
    <div class="col-md-12 form-group">
        <button type="submit" class="primary-btn">Place Order</button>
    </div>
                        </form> --}}
                            <form class="row contact_form" id="checkout-form" action="/order/checkout" method="post" novalidate="novalidate">
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" required>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" required>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone number" required>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="add1" name="addressLine1" placeholder="Address line 01" required>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="add2" name="addressLine2" placeholder="Address line 02">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="city" name="city" placeholder="Town/City" required>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="district" name="district" placeholder="District" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea class="form-control" name="orderNotes" id="message" rows="1" placeholder="Order Notes"></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="primary-btn">Place Order</button>
                        </div>
                    </form>


                          {{!-- <div class="cupon_area">
                <div class="check_title">
                    <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
                </div>
                <input type="text" placeholder="Enter coupon code">
                <a class="tp_btn" href="#">Apply Coupon</a>
            </div> --}}
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                           <h2>Your Order</h2>
                            <ul class="list" id="order-items">
                                <!-- Dữ liệu sản phẩm sẽ được thêm bằng JavaScript -->
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span id="subtotal"></span></a></li>
                                <li><a href="#">Shipping <span id="shipping">Flat rate: $50.00</span></a></li>
                                <li><a href="#">Total <span id="total"></span></a></li>
                            </ul>

                         
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->
<script src="/js/checkout.js"  defer></script>
<script src="/js/cart/cart.js" defer></script>
<script src="/js/cart/syncCart.js" defer></script>
<script src="/js/cart/syncUpdateCart.js" defer></script>



</body>