<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!--================register Box Area =================-->
<section class="register_box_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="register_box_img">
					<img class="img-fluid" src="img/login.jpg" alt="">
					<div class="hover">
						<h4>Welcome to our shoe store!</h4>
						<p>If you already have an account, </p>
						<a class="primary-btn" href="/login">click here to login</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner pt-5">
					<h3>Forgot Password</h3>
					<form id="forgot-password-form" class="row login_form" action="/forgot-password" method="POST">
						<div class="col-md-12 form-group">
							<input class="form-control" type="email" id="email" name="email" placeholder="Vui lòng nhập email" required>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" class="primary-btn">Send Verification Code</button>
						</div>
					</form>
					<h5 class="col-md-12 form-group" id="message"></h5>
					<div class="col-md-12 form-group" id="loading" style="display: none;">
						<p>Sending email, please wait...</p>
					</div>
					<form id="verify-code-form"  class="row login_form"  style="display: none;">
						<div class="col-md-12 form-group">
							<input class="form-control" type="text" id="verificationCode" name="verificationCode" placeholder="Vui lòng nhập mã xác thực" required>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" class="primary-btn" >Verify Code</button>
						</div>
						<div class="col-md-12 form-group">
							<button type="button" id="resend-code-btn" class="primary-btn">Resend Verification Code</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="/js/forgot-password.js"></script>