<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!--================register Box Area =================-->
<section class="register_box_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="register_box_img">
					<img class="img-fluid" src="/img/login.jpg" alt="">
					<div class="hover">
						<h4>Welcome to our shoe store!</h4>
						<p>If you already have an account, </p>
						<a class="primary-btn" href="/login">click here to login</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="register_form_inner pt-5">
					<h3>Reset Password</h3>
					<form id="reset-password-form" class="row register_form" action="/reset-password/{{token}}" method="POST">
						<div class="col-md-12 form-group">
							<input class="form-control" placeholder="Nhập mật khẩu mới" type="password" id="password" name="password" required>
						</div>
						<div class="col-md-12 form-group">
							<input class="form-control" placeholder="Nhập lại mật khẩu" type="password" id="confirmPassword" name="confirmPassword" required>
						</div>
						<div class="col-md-12 form-group">
							<button class="register_btn" type="submit">Reset Password</button>
						</div>
					</form>
					<div id="message"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="/js/reset-password.js"></script>